<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mysql to mongodb</title>
  </head>
  <body>
    <h1>Welcome!!!</h1>
    <form action="http://localhost:5000/thanks" method="post">
      <p>Enter Local host of MySQl(Make sure its running):</p>
      <input type="text" name="host_mysql" />
      <p>Enter Local host of Mongodb(Make sure its running):</p>
      <input type="text" name="host_mo" />
      <p>Enter DB name of MongoDB DB:</p>
      <input type="text" name="client_mo" />
      <p>Enter DB name of MySQl:</p>
      <input type="text" name="db_mysql" />
      <p>Username of MySQl:</p>
      <input type="text" name="user_mysql" />
      <p>Password of mysql DB:</p>
      <input type="text" name="pass_mysql" />
      <input type="submit" />
    </form>
  </body>
</html>
