<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mongodb to mongodb</title>
  </head>
  <body>
    <h1>Welcome!!!</h1>
    <form action="http://localhost:5000/mongo" method="post">
      <p>
        Enter the local file location (only JSON)(Copy path from file explorer)
      </p>
      <input type="text" name="path" />
      <input type="submit" />
    </form>
  </body>
</html>
